body {
  margin: 0;
  padding: 40px 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #ef105e;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
